# Entorno virtual en backend
backend/venv/

# Base de datos de desarrollo
backend/db.sqlite3

# Archivos de Python
*.pyc
__pycache__/

# Archivos temporales de frontend (opcional si usas frameworks como React o Angular)
frontend/node_modules/
frontend/build/

# Archivos de configuración de IDE
.vscode/
.idea/
